.searchbar-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 1rem;  
    color: var(--primary-colour);
    height: 8vh; 
    margin: 0.5em 0; 
}

#searchbar { 
    height: 4vh; 
    width: 30vw; 
    text-indent: 1em;
    color: var(--primary-colour); 
    font-size: 1rem; 
    font-weight: 700; 
    background-color: #FFFFFF;
    border: 0.2em solid var(--primary-colour);
    border-radius: 2em; 
    outline: none; 
}


.fa-search {
    position: absolute; 
    right: 36vw; 
    z-index: 1000;  
 
}

.table-view {
    margin: 3em 5em 0 5em; 
    height: 65vh; 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between; 
    align-items: flex-start;
}


.pagination-container {  
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.5rem; 
    text-align: center; 
    color: var(--primary-colour);
}

.pagination-container i{
    margin: 0 2em; 
}

/*image rendering proportions*/
.frame-view {
    padding: 2em; 
    margin: 0em 5em 0 0; 
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center; 
    border: 0.2em inset var(--primary-colour); 
    border-radius: 2em; 
}

img {
    width: 15vw; 
} 

#price-alter {
    margin: 1em 0 0 0;
    font-size: 1.5rem; 
    font-weight: 700; 
    text-align:center;
    border: 0.15em solid var(--primary-colour);
    border-radius: 2em; 
    outline: none;   
}

@media (max-width: 1800px) {
    .frame-view {
        margin: 0em 0 0 0;  
    }
} 


