.icons {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between; 
    height: 10vh; 
    align-items: center; 
    color: var(--primary-colour);
    font-size: 2rem; 
}

.fa-bars {
    font-size: 1.8rem; 
    margin-left: 1em; 
}

.fa-dice-d20 {
    margin: 0 0 0 6em;  
}

#update { 
    margin: 0 3em 0 0; 
    padding: 0.6em 4em;
    align-content: flex-end; 
    border: 0.2em solid var(--primary-colour);
    border-radius: 1em; 
    overflow: hidden; 
    text-transform: uppercase; 
    font-weight: 1000; 
    letter-spacing: 0.2em; 
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
}

.menu-container {
    font-size: 1.5rem; 
    color: var(--secondary-colour); 
    background-color: var(--primary-colour);
    text-transform: uppercase; 
    font-weight: 700; 
}

.menu-items-container {
    margin: 0.2em 0; 
    display: none; 
    flex-flow: column nowrap; 
    list-style-type: none; 
    align-items: center; 
    text-align: center; 
}

.menu-items-container li {
    padding: 2em 2em; 
}

.na-content {
    display: block; 
}

.fa-caret-right {
    margin: 0 0 0 0.5em;
}

.split-menu { 
    margin: 0.2em 0; 
    padding: 0 0 1em 0; 
    display: none; 
    flex-flow: column nowrap; 
    list-style-type: none; 
    align-items: center;
}

.split-menu li { 
    padding: 1em 5em 1em 5em; 
    display: flex;  
    align-items: center; 
    justify-content: center; 
    border-bottom: 0.1em solid var(--secondary-colour);
}
