#update:hover {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.menu-items-container li:hover {
   color: var(--tertiary-colour);
}

.split-menu li:hover {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
}

tr:hover {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

td:hover {
    color: var(--secondary-colour);
}