* {
    margin: 0; 
    padding: 0; 
    font-family: Arial;
    font-size: 100px; 
    overflow: hidden; 
}

body {
    background-color: #F0EAD6;  
    color: #444444;
    text-shadow: 0 0 50px #999999; 
}

.title {
    margin-bottom: 60px; 
}

.wrapper {
    position: absolute; 
    margin: auto 0; 
    border: 20px solid #AB9C73;
    margin-top: 55%; 
    padding: 50px;
    padding-bottom: 20px; 
    text-align: center; 
    background: repeating-linear-gradient(
    45deg,
    #D2BE9699,
    #D2BE9699 10px,
    #AB9C7399 10px,
    #AB9C7399 20px
);
}

iframe {
    visibility: hidden; 
}

.bg-color {
    position: absolute; 
    z-index: -1; 
    width: 100%; 
    height: 500px; 
    background-color: #AB9C73; 
    outline: 20px dashed #D2BE96BB;
    outline-offset: -20px;
}

img {
    display: block; 
    position: absolute; 
    margin: 20px 200px; 
    z-index: 10; 
}

.days-datestamp {
    margin: 120px; 
}

.time-datestamp {
    margin: 120px; 
}