* {
    margin: 0; 
    padding: 0; 
    font-family: Arial;
    font-size: 100px; 
    overflow: hidden; 
}

body {
    background-color: #F0EAD6;  
    color: #AB9C73;
    text-shadow: 0 0 50px #F0EAD6; 
}

.title {
    margin-bottom: 60px; 
}

.wrapper {
    position: absolute; 
    margin: auto 0; 
    border: 20px solid #AB9C73;
    margin-top: 55%; 
    padding: 50px;
    padding-bottom: 20px; 
    text-align: center; 
    background-color: #D2BE96; 
}

.bg-color {
    position: absolute; 
    z-index: -1; 
    width: 100%; 
    height: 500px; 
    background-color: #AB9C73; 
}

img {
    display: block; 
    position: absolute; 
    margin: 20px 200px; 
    z-index: 10; 
}

.days-datestamp {
    margin: 120px; 
}

.time-datestamp {
    margin: 120px; 
}